<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>verbs</key>
	<array>
		<string>折叠</string>
		<string>假设</string>
		<string>凝视</string>
		<string>测序</string>
		<string>协商</string>
		<string>渲染</string>
		<string>推导</string>
		<string>质询</string>
		<string>繁殖</string>
		<string>追问</string>
		<string>拼贴</string>
		<string>进化</string>
		<string>重构</string>
		<string>倾听</string>
		<string>代谢</string>
		<string>解码</string>
		<string>涂抹</string>
		<string>感知</string>
		<string>悬置</string>
		<string>打捞</string>
		<string>诊断</string>
		<string>改革</string>
		<string>反思</string>
		<string>治愈</string>
		<string>剪辑</string>
		<string>点燃</string>
		<string>遗传</string>
		<string>校准</string>
		<string>漂浮</string>
		<string>突变</string>
		<string>监督</string>
		<string>描摹</string>
		<string>适应</string>
		<string>放逐</string>
		<string>保存</string>
		<string>铭记</string>
		<string>拆解</string>
		<string>论证</string>
		<string>遗忘</string>
		<string>擦除</string>
		<string>投票</string>
		<string>做梦</string>
		<string>编织</string>
		<string>召回</string>
		<string>压抑</string>
		<string>怀疑</string>
		<string>迁移</string>
		<string>认同</string>
		<string>搅拌</string>
		<string>驯服</string>
		<string>授权</string>
		<string>裁决</string>
		<string>朗诵</string>
		<string>压缩</string>
		<string>起诉</string>
		<string>等待</string>
		<string>证伪</string>
		<string>辩诉</string>
		<string>分配</string>
		<string>唤醒</string>
		<string>立法</string>
		<string>装裱</string>
		<string>标记</string>
		<string>执法</string>
		<string>谈判</string>
		<string>过滤</string>
		<string>仲裁</string>
		<string>埋葬</string>
		<string>模拟</string>
		<string>审判</string>
		<string>策展</string>
		<string>妥协</string>
		<string>举证</string>
		<string>丈量</string>
		<string>改编</string>
		<string>签约</string>
		<string>刷新</string>
		<string>穿越</string>
		<string>融资</string>
		<string>命名</string>
		<string>动员</string>
		<string>投资</string>
		<string>雕刻</string>
		<string>归档</string>
		<string>借贷</string>
		<string>抚平</string>
		<string>回应</string>
		<string>储蓄</string>
		<string>拓印</string>
		<string>冻结</string>
		<string>结算</string>
		<string>观察</string>
		<string>复制</string>
		<string>估值</string>
		<string>组合</string>
		<string>问责</string>
		<string>交易</string>
		<string>推演</string>
		<string>收割</string>
		<string>焊接</string>
		<string>放大</string>
		<string>治理</string>
		<string>锻造</string>
		<string>拆封</string>
		<string>烧灼</string>
		<string>切削</string>
		<string>投射</string>
		<string>擦亮</string>
		<string>组装</string>
		<string>重演</string>
		<string>组织</string>
		<string>耕作</string>
		<string>孵化</string>
		<string>旋转</string>
		<string>灌溉</string>
		<string>修订</string>
		<string>记录</string>
		<string>放牧</string>
		<string>挑战</string>
		<string>临摹</string>
		<string>酿造</string>
		<string>敲击</string>
		<string>颠覆</string>
		<string>祭祀</string>
		<string>维护</string>
		<string>漂洗</string>
		<string>祈祷</string>
		<string>删除</string>
		<string>收藏</string>
		<string>朝圣</string>
		<string>照亮</string>
		<string>聚合</string>
		<string>占卜</string>
		<string>排练</string>
		<string>展开</string>
		<string>考证</string>
		<string>缝合</string>
		<string>解构</string>
		<string>发掘</string>
		<string>保护</string>
		<string>加速</string>
		<string>编年</string>
		<string>分散</string>
		<string>重启</string>
		<string>征服</string>
		<string>拒绝</string>
		<string>播种</string>
		<string>防御</string>
		<string>划分</string>
		<string>邀请</string>
		<string>撤退</string>
		<string>承认</string>
		<string>发表</string>
		<string>包围</string>
		<string>改写</string>
		<string>连接</string>
		<string>侦察</string>
		<string>隐藏</string>
		<string>显现</string>
		<string>曝光</string>
		<string>触碰</string>
		<string>抽取</string>
		<string>对焦</string>
		<string>塑造</string>
		<string>演绎</string>
		<string>显影</string>
		<string>质疑</string>
		<string>辩护</string>
		<string>录音</string>
		<string>制定</string>
		<string>执行</string>
		<string>演奏</string>
		<string>审议</string>
		<string>表决</string>
		<string>歌唱</string>
		<string>罢免</string>
		<string>联合</string>
		<string>共鸣</string>
		<string>抵抗</string>
		<string>争取</string>
		<string>安慰</string>
		<string>揭示</string>
		<string>定义</string>
		<string>怀念</string>
		<string>否定</string>
		<string>肯定</string>
		<string>衰老</string>
		<string>扬弃</string>
		<string>超越</string>
		<string>生长</string>
		<string>生成</string>
		<string>暂停</string>
		<string>消逝</string>
		<string>读取</string>
		<string>锁定</string>
		<string>回忆</string>
		<string>解锁</string>
		<string>编译</string>
		<string>变形</string>
		<string>翻译</string>
		<string>梦游</string>
		<string>映照</string>
		<string>吹散</string>
		<string>幻化</string>
		<string>熔化</string>
		<string>铸造</string>
		<string>异化</string>
		<string>抛光</string>
		<string>染色</string>
		<string>社会化</string>
		<string>预测</string>
		<string>回溯</string>
		<string>整合</string>
		<string>携带</string>
		<string>丢弃</string>
		<string>制造</string>
		<string>安放</string>
		<string>移动</string>
		<string>探索</string>
		<string>漫游</string>
		<string>告别</string>
		<string>绕行</string>
		<string>计算</string>
		<string>求解</string>
		<string>验证</string>
	</array>
	<key>adjectives</key>
	<array>
		<string>荒诞</string>
		<string>科学</string>
		<string>温柔</string>
		<string>透明</string>
		<string>实验性</string>
		<string>锋利</string>
		<string>朦胧</string>
		<string>理论性</string>
		<string>宏大</string>
		<string>琐碎</string>
		<string>可观测</string>
		<string>孤独</string>
		<string>公开</string>
		<string>可计算</string>
		<string>隐秘</string>
		<string>古老</string>
		<string>可测量</string>
		<string>崭新</string>
		<string>轻盈</string>
		<string>守恒</string>
		<string>沉重</string>
		<string>潮湿</string>
		<string>量子化</string>
		<string>干燥</string>
		<string>滚烫</string>
		<string>冰冷</string>
		<string>相对论式</string>
		<string>柔软</string>
		<string>坚硬</string>
		<string>统计性</string>
		<string>明亮</string>
		<string>昏暗</string>
		<string>有理</string>
		<string>喧闹</string>
		<string>安静</string>
		<string>无理</string>
		<string>缓慢</string>
		<string>迅疾</string>
		<string>对称</string>
		<string>精确</string>
		<string>模糊</string>
		<string>非对称</string>
		<string>复杂</string>
		<string>简单</string>
		<string>线性</string>
		<string>浪漫</string>
		<string>理性</string>
		<string>非线性</string>
		<string>感性</string>
		<string>机械化</string>
		<string>可微</string>
		<string>手工化</string>
		<string>数字化</string>
		<string>收敛</string>
		<string>模拟化</string>
		<string>像素化</string>
		<string>发散</string>
		<string>流动</string>
		<string>静止</string>
		<string>完备</string>
		<string>悬浮</string>
		<string>下沉</string>
		<string>活体</string>
		<string>膨胀</string>
		<string>收缩</string>
		<string>生物性</string>
		<string>重复</string>
		<string>唯一</string>
		<string>遗传性</string>
		<string>多余</string>
		<string>必要</string>
		<string>适应性</string>
		<string>过时</string>
		<string>未来感</string>
		<string>共生</string>
		<string>现实感</string>
		<string>梦幻</string>
		<string>寄生</string>
		<string>斑驳</string>
		<string>纯粹</string>
		<string>免疫性</string>
		<string>精致</string>
		<string>粗糙</string>
		<string>神经性</string>
		<string>克制</string>
		<string>张扬</string>
		<string>细胞性</string>
		<string>谨慎</string>
		<string>大胆</string>
		<string>有生命</string>
		<string>迟到</string>
		<string>提前</string>
		<string>焦虑</string>
		<string>无声</string>
		<string>有形</string>
		<string>冲动</string>
		<string>无形</string>
		<string>有限</string>
		<string>冷漠</string>
		<string>无限</string>
		<string>连续</string>
		<string>内向</string>
		<string>离散</string>
		<string>稳定</string>
		<string>外向</string>
		<string>摇摆</string>
		<string>封闭</string>
		<string>依恋</string>
		<string>开放</string>
		<string>随机</string>
		<string>偏执</string>
		<string>确定</string>
		<string>可逆</string>
		<string>司法性</string>
		<string>不可逆</string>
		<string>有机</string>
		<string>法定</string>
		<string>合成</string>
		<string>天然</string>
		<string>合宪</string>
		<string>人造</string>
		<string>平凡</string>
		<string>违宪</string>
		<string>奇异</string>
		<string>天真</string>
		<string>有效</string>
		<string>成熟</string>
		<string>顽固</string>
		<string>无效</string>
		<string>敏感</string>
		<string>迟钝</string>
		<string>有罪</string>
		<string>幽默</string>
		<string>严肃</string>
		<string>无罪</string>
		<string>含蓄</string>
		<string>坦率</string>
		<string>强制性</string>
		<string>发光</string>
		<string>褪色</string>
		<string>自愿</string>
		<string>柔和</string>
		<string>刺眼</string>
		<string>盈利</string>
		<string>低频</string>
		<string>高频</string>
		<string>亏损</string>
		<string>无边</string>
		<string>微小</string>
		<string>高杠杆</string>
		<string>庞大</string>
		<string>空白</string>
		<string>低风险</string>
		<string>拥挤</string>
		<string>稀薄</string>
		<string>通胀性</string>
		<string>浓郁</string>
		<string>甜蜜</string>
		<string>紧缩性</string>
		<string>苦涩</string>
		<string>清醒</string>
		<string>投机性</string>
		<string>困倦</string>
		<string>诚实</string>
		<string>审慎</string>
		<string>虚构</string>
		<string>偶然</string>
		<string>信用化</string>
		<string>必然</string>
		<string>短暂</string>
		<string>金融化</string>
		<string>永恒</string>
		<string>公共</string>
		<string>工业化</string>
		<string>私人</string>
		<string>集体</string>
		<string>标准化</string>
		<string>自治</string>
		<string>集中</string>
		<string>模块化</string>
		<string>合法</string>
		<string>非法</string>
		<string>自动化</string>
		<string>正当</string>
		<string>失当</string>
		<string>耐磨</string>
		<string>公平</string>
		<string>偏颇</string>
		<string>易燃</string>
		<string>中立</string>
		<string>激进</string>
		<string>精密</string>
		<string>保守</string>
		<string>进步</string>
		<string>批量化</string>
		<string>多元</string>
		<string>单一</string>
		<string>重型</string>
		<string>普遍</string>
		<string>特殊</string>
		<string>乡土</string>
		<string>主观</string>
		<string>客观</string>
		<string>神圣</string>
		<string>先验</string>
		<string>经验性</string>
		<string>世俗</string>
		<string>辩证</string>
		<string>形而上</string>
		<string>历史性</string>
		<string>存在主义式</string>
		<string>虚无主义式</string>
		<string>军事化</string>
		<string>自我指涉</string>
		<string>不可知</string>
		<string>纪实</string>
		<string>包容</string>
		<string>排他</string>
		<string>和谐</string>
		<string>自洽</string>
		<string>矛盾</string>
		<string>超现实</string>
		<string>自由</string>
		<string>平等</string>
		<string>社会性</string>
	</array>
	<key>nouns</key>
	<array>
		<string>黄昏</string>
		<string>科学</string>
		<string>算法</string>
		<string>社会契约</string>
		<string>物理学</string>
		<string>早餐</string>
		<string>回声</string>
		<string>化学</string>
		<string>权力</string>
		<string>画布</string>
		<string>生物学</string>
		<string>缓存</string>
		<string>自由意志</string>
		<string>天文学</string>
		<string>公交卡</string>
		<string>月光</string>
		<string>地质学</string>
		<string>制度</string>
		<string>像素</string>
		<string>生态系统</string>
		<string>花园</string>
		<string>蒙太奇</string>
		<string>原子</string>
		<string>主体</string>
		<string>选票</string>
		<string>分子</string>
		<string>雨伞</string>
		<string>黑洞</string>
		<string>细胞</string>
		<string>身份</string>
		<string>旋律</string>
		<string>数学</string>
		<string>预算</string>
		<string>镜子</string>
		<string>几何</string>
		<string>记忆</string>
		<string>终端</string>
		<string>代数</string>
		<string>阶级</string>
		<string>舞台</string>
		<string>微积分</string>
		<string>钥匙串</string>
		<string>秩序</string>
		<string>拓扑</string>
		<string>幽灵</string>
		<string>政策</string>
		<string>概率</string>
		<string>沙发</string>
		<string>虚无</string>
		<string>集合</string>
		<string>光标</string>
		<string>公民</string>
		<string>矩阵</string>
		<string>雕塑</string>
		<string>因果律</string>
		<string>函数</string>
		<string>饭团</string>
		<string>边界</string>
		<string>定理</string>
		<string>噪声</string>
		<string>民主</string>
		<string>生命</string>
		<string>档案</string>
		<string>岛屿</string>
		<string>基因</string>
		<string>叙述者</string>
		<string>意识形态</string>
		<string>染色体</string>
		<string>芯片</string>
		<string>窗台</string>
		<string>神经元</string>
		<string>少数派</string>
		<string>节拍</string>
		<string>器官</string>
		<string>本体</string>
		<string>免疫</string>
		<string>程序</string>
		<string>联盟</string>
		<string>物种</string>
		<string>胶片</string>
		<string>日历</string>
		<string>进化</string>
		<string>治理</string>
		<string>梦境</string>
		<string>代谢</string>
		<string>脚步</string>
		<string>接口</string>
		<string>胚胎</string>
		<string>传统</string>
		<string>观众</string>
		<string>心理</string>
		<string>语言</string>
		<string>城市</string>
		<string>潜意识</string>
		<string>齿轮</string>
		<string>提案</string>
		<string>人格</string>
		<string>笔记</string>
		<string>社会</string>
		<string>认知</string>
		<string>空间</string>
		<string>演员</string>
		<string>焦虑</string>
		<string>引擎</string>
		<string>程序正义</string>
		<string>依恋</string>
		<string>走廊</string>
		<string>变量</string>
		<string>创伤</string>
		<string>共同体</string>
		<string>剧场</string>
		<string>动机</string>
		<string>时间</string>
		<string>地图</string>
		<string>自我</string>
		<string>媒体</string>
		<string>心跳</string>
		<string>本我</string>
		<string>艺术史</string>
		<string>市场</string>
		<string>法律</string>
		<string>键盘</string>
		<string>现象</string>
		<string>宪法</string>
		<string>议会</string>
		<string>法庭</string>
		<string>墨水</string>
		<string>身份政治</string>
		<string>证据</string>
		<string>星球</string>
		<string>钟表</string>
		<string>判例</string>
		<string>客体</string>
		<string>资源</string>
		<string>契约</string>
		<string>光线</string>
		<string>民意</string>
		<string>法官</string>
		<string>书页</string>
		<string>宇宙</string>
		<string>陪审团</string>
		<string>货币</string>
		<string>频率</string>
		<string>诉讼</string>
		<string>历史</string>
		<string>菜单</string>
		<string>司法</string>
		<string>哲学</string>
		<string>社区</string>
		<string>金融</string>
		<string>海岸</string>
		<string>电路</string>
		<string>资本</string>
		<string>多数派</string>
		<string>标点</string>
		<string>股票</string>
		<string>革命</string>
		<string>房间</string>
		<string>债券</string>
		<string>话语</string>
		<string>磁盘</string>
		<string>利率</string>
		<string>国家</string>
		<string>陌生人</string>
		<string>通货膨胀</string>
		<string>协议</string>
		<string>制度惯性</string>
		<string>银行</string>
		<string>呼吸</string>
		<string>文件</string>
		<string>债务</string>
		<string>国际秩序</string>
		<string>纸箱</string>
		<string>利润</string>
		<string>公共领域</string>
		<string>风险</string>
		<string>影子</string>
		<string>博物馆</string>
		<string>工厂</string>
		<string>真理</string>
		<string>机器人</string>
		<string>机床</string>
		<string>声音</string>
		<string>权利</string>
		<string>流水线</string>
		<string>屏幕</string>
		<string>荒原</string>
		<string>乡土</string>
		<string>公民社会</string>
		<string>意识</string>
		<string>村庄</string>
		<string>剧本</string>
		<string>网络</string>
		<string>神话</string>
		<string>代际公平</string>
		<string>窗户</string>
		<string>宗教</string>
		<string>指令</string>
		<string>政策窗口</string>
		<string>神祇</string>
		<string>作者</string>
		<string>欲望</string>
		<string>历史学</string>
		<string>社会性别</string>
		<string>坐标</string>
		<string>考古学</string>
		<string>展厅</string>
		<string>历史叙事</string>
		<string>军队</string>
		<string>按钮</string>
		<string>认识论</string>
		<string>战争</string>
		<string>群众</string>
		<string>乌托邦</string>
		<string>摄影</string>
		<string>新闻</string>
		<string>方法论</string>
		<string>音乐</string>
		<string>地铁</string>
		<string>存在</string>
		<string>超现实主义</string>
		<string>议程</string>
		<string>情绪</string>
		<string>色块</string>
		<string>世界观</string>
	</array>
</dict>
</plist>
